[2017-05-29 07:38] cedricve opened #1 "[OMX.broadcom.camera]Wating state to be 3"
Trying your API out, but when running the samples it blocks on waiting for state 3.

      [OMX.broadcom.camera] SetConfig 100000B failed : 8000101A
      ===> types : 8[200] | 8[71]
      Port 71: out 1/1 30720 16 disabled,not pop.,not cont. 1280x720 1280x16 @0fps 20
      Port 200: in 1/1 15360 16 disabled,not pop.,not cont. 160x64 160x64 @30fps 20
      Wating port 71 to be 1
      Port 71: out

[2017-05-29 09:22] dridri commented on #1
Commit 929adde should solve the problem

[2017-05-29 09:23] cedricve commented on #1
by the speed of light @dridri awesome!

[2017-05-29 09:25] cedricve commented on #1
Also I'm wondering to use this library in the Kerberos.io project. I'll need to capture images from the preview port 70 (and port to cv::Mat), while having the ability to record (simultaneously) on the video port 71. Is this something possible with the library, or will it require more development?

[2017-05-29 09:30] dridri commented on #1
Just seen there was also a missing argument in Camera() call, solved by  78c9a44

Yep you can use all the 3 ports of the camera simultaneously, by using
[code]
Calling `Camera::SetCapturing()` on ports 70 or 71 will start both, to take still captures you have to call `SetCapturing( true, 72 )` each time you need it

[2017-05-29 09:32] cedricve commented on #1
Crazy, i'll try this out and reference your repo on kerberos.io once I have this working. Would you be interested in some guidance, or integrate an example in your samples directory? Anyway, this is awesome!

[2017-05-29 09:39] dridri commented on #1
Of course, I can add a typical example for what you want to achieve.
Do not hesitate to ask me if you have any questions :)

[2017-05-29 09:47] cedricve commented on #1
So this is my use case, and I think this might be applicable for many others.

1. I currently use raspicam (an MMAL wrapper) from which I grab images decoded to cv:Mat to execute some image processing e.g. motion detection.
https://github.com/kerberos-io/machinery/blob/master/src/kerberos/capture/RaspiCamera.cpp#L73-L74

2. Next to processing those images, Kerberos.io will fire events when motion

[2017-05-29 10:04] dridri commented on #1
I was just looking to you source code.

Since my library is a wrapper and raspicam is threaded by design, there is no counterpart to use it in different threads.
I think you probably guessed it, but you will not be able to use both your MMAL implementation and mine at the same time.

You have two possibilities to achieve what you want :

1. Start the camera with ports 70 and 71 enabled, start the

[2017-05-29 10:12] cedricve commented on #1
@dridri thanks for your quick response makes sense! Well I've forgot this one, we also send a MJPEG stream. Which should also use the images from port 70 for this.

Thus to be complete:

1. Main thread that processes images.
2. Additional thread that listens to clients, and sends them an encoded JPEG. https://github.com/kerberos-io/machinery/blob/master/src/kerberos/capture/Stream.cpp#L151
3. Star

[2017-05-29 10:31] dridri commented on #1
There is an OMX component called "video_splitter" which allows to use multiple encoders from the same source image, but for unknown reason I can't get it to work.
But using my implementation, you could take advantage of the hardware-accelerated MJPEG encoder. So you will not have to use locking anymore.

Here's how it works roughly :
- You take the data from the camera's preview port 70 (memcpy a

[2017-05-29 10:39] cedricve commented on #1
Sounds like my perfect situation, where have you been all this time @dridri, haha? I'm trolling with the raspicam library for 3 years now, it's a shame I didn't found your library more quickly.

Will you able to contribute an example this week or upcoming time, just to know we spend time right? Otherwise I'll deep dive into this, let me know what you think is best.

What do you mean with this?

Fo

[2017-05-29 10:41] dridri commented on #1
I mean that in this situation, not only the h264 port produces yuv420 images, but also the preview port.

I'm writing an example right now

[2017-05-29 12:19] dridri commented on #1
Here you go !  https://github.com/dridri/OpenMaxIL-cpp/blob/master/samples/camera_threaded.cpp
(tested and working)

[2017-05-29 12:27] cedricve commented on #1
Awesome dude.. I've send you a personal message.

[2017-05-29 13:39] cedricve commented on #1
@dridri looks great and works! I was wondering why the preview_thread is taking so much CPU resources?

[2017-05-29 13:56] dridri commented on #1
I was wondering the same, it's surely caused by this memcpy :
https://github.com/dridri/OpenMaxIL-cpp/blob/master/src/Component.cpp#L401
I can expose the "pBuffer" pointer to avoid this

[2017-05-29 13:58] cedricve commented on #1
Hmm, indeed that memcpy will be the issue. Well that might be a good idea, because I'll also convert it to a cv::Mat, which means a double copy operation.

[2017-05-29 14:36] cedricve commented on #1
FYI: Started integration in Kerberos.io in a separate branch: https://github.com/kerberos-io/machinery/commits/openmax-il.

[2017-05-29 15:35] dridri commented on #1
c0c2846 solves a part of the problem, I can maybe reduce it even more

[2017-05-29 17:10] cedricve commented on #1
looks good! can we make a stable version after I've tested your library for some time. Just want to make sure that future changes will not affect other people compiling kerberos.io, as it will now point to your master branch. Just a question, not necessary until I release a new version of kerberos.io

[2017-05-29 18:01] cedricve commented on #1
@dridri nice performance improvement from 50% to 15% on a Pi2. Great work, what other sections could you improve?

[2017-05-30 09:16] cedricve commented on #1
Made some progress last night by hooking your library to the MJPEG streamer. https://github.com/kerberos-io/machinery/tree/openmax-il. Probably the code I've produced isn't that per formant as it will have to be, but lets improve it later on.

What I now have :

1. A lock thread that copy the data from your mjpeg_data buffer, to a class property. https://github.com/kerberos-io/machinery/blob/openm

[2017-05-30 09:35] dridri commented on #1
In your previous implementation, your stream seemed to be a continuous flow of JPEG images, which is different from MJPEG.
You could try to set Content-Type to "video/x-motion-jpeg"
If it still doesn't work, does a software like VLC correctly open the stream ?

edit: I think you should put back an `usleep` in your `streamContinuously()` loop
edit2: oh I just found you probably misstyped retrieveRA

[2017-05-30 10:23] cedricve commented on #1
@dridri, I've update the flow before I've seen your message and I managed to get it work with a sleep indeed, it was trying to send null data. Also I pass pointers around now, like you've suggested.

![screen shot 2017-05-30 at 12 21 31](https://cloud.githubusercontent.com/assets/1546779/26579103/bd686604-4532-11e7-8066-ab9b104346a8.png)

[2017-05-30 10:24] dridri commented on #1
Yay, seems perfect !

[2017-05-30 10:27] cedricve commented on #1
This is amazing fast, what a difference 👍 👍  I'll work on the motion detection now. what I've been thinking about is to sue the MJPEG image as well for the motion detection. I think we can simple use cv::imdecode in stead of copying the YUV data.

[2017-05-30 10:29] dridri commented on #1
You probably should compare cpu usage between decoding mjpeg and converting yuv

[2017-05-30 10:32] cedricve commented on #1
Good point, let's give it a try. Keep you posted, can't wait to share this with out community. HD video surveillance on a Raspberry Pi Zero, oh man.

[2017-05-30 10:34] dridri commented on #1
What was your previous resolution and framerate ?

[2017-05-30 10:43] cedricve commented on #1
A short brenchmark without too much details:

- Raspberry Pi 3: (640x480) 4FPS MJPEG stream, 9FPS recording video on CPU with x264
- Raspberry Pi 2: (640x480) 3FPS MJPEG stream, 7FPS recording video on CPU with x264
- Raspberry Pi 1: (640x480) 2,7FPS MJPEG stream, 4FPS recording video on CPU with x264
- Raspberry Pi 0 (W): (640x480) 2FPS MJPEG stream, 1-2FPS recording video on CPU with x264, but i

[2017-05-30 10:57] cedricve commented on #1
Also I'm coding the POC on a Pi2, and previously streaming a 640x480 image at 3 FPS takes around 30-50% of the CPU (this was cause due to cv::imencode, which encodes the image on the cpu). With your code, it streams 1280x720 at 17FPS and 15% of CPU. Crazy 👍

[2017-05-30 11:19] cedricve opened #2 "Strategy OpenMaxIL-cpp"
Hey @dridri,

I've opened this ticket to discuss the strategy and future of your library. I love the way you've improved the usability OpenMax library without losing its performance. However I see this library in a much broader context: e.g. picamera https://picamera.readthedocs.io.

Do you have any plans to integrate more high level features? E.g. circular buffering. http://picamera.readthedocs.i

[2017-05-30 12:03] dridri commented on #1
Only 17fps ? Did you manually changed it or is there a lag somewhere ?

[2017-05-30 12:11] cedricve commented on #1
@dridri I need to confirm, but it looks that sometimes it slows down, not sure why. Maybe due to network connectivity. https://github.com/kerberos-io/machinery/blob/openmax-il/src/kerberos/capture/Stream.cpp#L151-L199

What you see below is the length of each packet that is written to the socket. So from my understanding the new image isn't written fast enough.

     30/05/2017 10:53:54.095 INFO

[2017-05-30 12:26] cedricve commented on #1
Edit: What I think is strange is that it writes multiple times the same image. I was first thinking that this was caused to multiple clients, but that's not the case.  This might be an issue with not getting a free lock from the preview thread?

    30/05/2017 12:24:28.915 INFO  [trivial] streaming (32352) to 0
    30/05/2017 12:24:29.**403** INFO  [trivial] streaming (**32488**) to 0
    30/05/20

[2017-05-30 12:30] dridri commented on #1
This is probably caused by your mjpeg streaming thread running too fast compared to preview_thread one, try increasing the usleep

[2017-05-30 12:42] cedricve commented on #1
You're right, introducing a lag (in function of a FPS parameter) works. You see the grabbing and streaming alternate, which is perfect! Sometimes it reaches 24/fps. However due to network drops there are some gaps (you see it when its grabbing more than streaming).

    30/05/2017 12:37:09.970 INFO  [trivial] streaming (31911) to 0
    30/05/2017 12:37:09.989 INFO  [trivial] grab new image
    30/

[2017-05-30 21:10] cedricve commented on #1
Did some more testing @dridri overall looks good, but sometimes it takes the socket too much time to send the frame over HTTP to get full speed. However when using an incognito session in the browser it runs at full speed (30FPS it is). Strange..

Another thing I've noticed is the following: When I was streaming, and I switched of the lights (environment) and put them on again (dark environment ->

[2017-05-30 22:07] dridri commented on #1
Wow that's weird, I've never had this problem in months.
What is strange is that the port 200 (encoder input) values have totally changed (looks like it has been resetted to default, in 160x64 mode).
Try to reduce bitrate a little bit.
I'm going to give it a try to see if I can reproduce the problem

[2017-05-30 22:15] cedricve commented on #1
@dridri well I think this is the initial state, but it hangs at [OMX.broadcom.camera]Wating state to be 2. From what I see is that you reset the it after this statement.

[2017-05-30 22:19] cedricve commented on #1
By lowering the bitrate to 4k it's indeed harder to reproduce, so far I only had it once, with 8k it was pretty easy.

[2017-05-30 22:20] dridri commented on #1
Try to run it using gdb, there is a maybe a hidden segfault/bus error

[2017-05-30 22:21] cedricve commented on #1
Hmm not that familiar with gdb to find bus errors. I'll give it a try.

[2017-05-30 22:24] dridri commented on #1
Just start using the command `gdb ./you_program`, then in GDB console type `run [args...]`, then gdb will tell you if it detects anything

[2017-05-30 22:26] cedricve commented on #1
Hmm well, it does throws an error on libcrypto, but that doesn't makes sense..

    Starting program: /home/pi/machinery/bin/kerberosio
    [Thread debugging using libthread_db enabled]
    Using host libthread_db library "/lib/arm-linux-gnueabihf/libthread_db.so.1".
    Cannot access memory at address 0x0
    Program received signal SIGILL, Illegal instruction.
    0x75a33de8 in ?? () from /usr/l

[2017-05-30 22:27] dridri commented on #1
At this point, you can type `bt` to see a backtrace. (You maybe have to add "-ggdb3" in CXX-flags to get more infos)

[2017-05-30 22:35] cedricve commented on #1
Thanks I had to enter following command before entering run:

    handle SIGILL nostop

Well it looks with GDB the camera is still crashing. But don't get any errors.

[2017-05-30 22:36] dridri commented on #1
Okay so it is not a memcpy leak (I had some before)
I will take a look at it

[2017-05-30 22:46] cedricve commented on #1
Thanks, what I still think is strange is that after it crashed the first time, and I try to load the binary a second time it's locked on "Waiting state to be 2", and I need to reboot the Pi to make it work again.

       30/05/2017 22:44:07.917 INFO  [trivial] Logging is set to verbose
       30/05/2017 22:44:07.918 INFO  [trivial] Starting cloud service: S3
       30/05/2017 22:44:07.919 INFO  [t

[2017-05-31 05:58] cedricve commented on #1
Will dig into further today, let me know if you want me to test something @dridri. Thanks!

[2017-05-31 17:40] cedricve commented on #1
Hey hey, sorry I'm spamming this issue. I just want to keep you posted about my tests, so we can resolve this issue by any chance.

1. I tested my kerberos binary with several Pi camera's, all show the same result as describe above.
2. Because I want to be sure it's not my code breaking your library, I tested with one of your examples.
A. camera_encode, don't have any issues, when I change intensi

[2017-06-01 12:07] dridri commented on #1
7f34f2e should solve the problem o/

This was caused because the bitrate setting is hardcoded to be variable in the GPU, so when the light changes fast, it can produce images that are too big for the allocated buffers, so I just doubled their sizes

[2017-06-01 12:08] cedricve commented on #1
Amazing! @dridri were you able to simulate it?

[2017-06-01 12:09] dridri commented on #1
Yep, I was able to reproduce the exact same behavior, so it wasn't so hard to solve

[2017-06-01 12:10] dridri commented on #1
I added two #if in the sample code to enable a video_render to see what happens on screen

[2017-06-01 12:13] cedricve commented on #1
Nice, I'm so happy you've resolved it.  So changing the types made it resolve? Don't know why a sudden change in intensity (array size) may corrupt this?

Just curious about the videorender how that works if you're running the code on a Pi?

[2017-06-01 12:16] dridri commented on #1
It corrupts everything because the GPU writes too much data for what the buffers can contain, causing an overflow in GPU VRAM
videorender is meant to run on pi, btw IMO you should put it in kerberos.io, so people can connect a monitor to their ip-camera whenever they want

[2017-06-01 12:20] cedricve commented on #1
Ok great, you've been working with GPU's a lot? That's why some rubbish was send to cout (in my previous comment)?

Yeah the videorender would be an amazing feature, but how would it overwrite the terminal? Not completely sure how that will work.

[2017-06-01 12:23] dridri commented on #1
Indeed, GPUs do not have secrets for me anymore :D
You can choose to set the video_render to be displayed above (which hides it totally), or under the terminal (which let you see the console in transparency above the video)

[2017-06-01 12:38] cedricve commented on #1
Crazy, that would a nice feature indeed, thanks for the tips. I'll first procede with integrate the image processing and take this one afterwards. Still struggling with the process_image, don't find a decent (effecient) way to convert the rgb values to a Mat.

[2017-06-01 12:53] dridri commented on #1
Did you tried something like this ?
[code]
(here `width` and `height` would be of course 1280 and 720, and `data` the pointer passed to `process_image`)

[2017-06-01 19:03] cedricve commented on #1
Thanks, it works both. But I had to change it to BGR (colors swapped apparently). The CPU is getting to 100% if we want to convert it at full speed, but that's not an issue. I'll only convert every 15th image if a 30FPS is set. Thanks I can move on now ;)

[2017-06-02 08:10] cedricve commented on #1
@dridri I'm almost finished with the integration, this will be impressive. One thing I've seen is that when watching the MJPEG stream the camera halts after a while. I know you've mentioned that this can be caused due to the camera isn't reading fast enough?

What I did so far is adding a simple lock at the capture thread, and copying the pointers https://github.com/kerberos-io/machinery/blob/open

[2017-06-04 10:18] cedricve commented on #1
hey @dridri, did some more testing with and without locks. It looks that when kerberosio is taking too much CPU, the capture thread will also slow down and probably will cause the stalling (it blocks the capture thread completely). Just wondering how other libraries tackle this issue, or how we could solve this? Thanks!

[2017-06-06 10:37] dridri commented on #1
You could try to raise the preview_thread to highest priority :
[code]
Call it with `99` as parameter, the program must be running as root

[2017-06-06 10:42] cedricve commented on #1
@dridri I managed to solve this by minimising the load in the capture thread. I moved the mjpeg encoding in another thread, so It's only executed when needed.  It has been running for 24h without stalling, looks stable. Thanks! I'll use the HighPri function if I see it again.

[2017-06-06 10:52] dridri commented on #1
Oh nice, well played !

But I think you should still use high-priority thread, it will not increase CPU usage, but just tell the task scheduler to resume the thread as soon as there is an image ready to be processed

[2017-06-06 11:20] cedricve commented on #1
Cool, but I cannot force the users to run kerberosio with sudo. what will happen if you run it without?

[2017-06-06 11:21] dridri commented on #1
It will just not set the priority, and run as normal

[2017-06-06 15:14] cedricve commented on #1
Wrapping up, now having a stable implementation of your library. Started integrated the recording, which works fine but apparently something is missing in the h264 file if I try to wrap it into a mp4 container. The strange thing is that it works when I record from the start (first recording loop), but when I start toggling the recording boolean, and generating different h264 files I get errors.

[2017-06-06 15:21] dridri commented on #1
You have to manually write h264 headers at the beginning of each new file :
[code]
You could also write them every ~10seconds or so, this is what I do on my drone software which allows video players to seek easier
(It works correctly for the first file because the h264 encoder automatically generates the headers only on the very first image)

[2017-06-06 15:36] cedricve commented on #1
Thanks, I'll try it. I've seen your drone, it's amazing! Did you implement this all by yourself?

[2017-06-06 16:01] dridri commented on #1
Yep, I did everything from scratch

[2017-06-06 16:41] cedricve commented on #1
Crazy! Would love to test it, do you have a complete guide somewhere how to rebuild it? By the way, when adding the headers it works! Do you have any experience for wrapping the h264 in a MP4 container with plain C++ ? I know ffmpeg can do it but was wondering if you know some best practices.

[2017-06-07 07:23] cedricve commented on #1
I had the freeze once again, not sure why, so I've integrated your scheduler priority in the preview_thread. Let you know how it goes..
https://github.com/kerberos-io/machinery/blob/openmax-il/src/kerberos/capture/RaspiCamera.cpp#L41-L52

[2017-06-07 09:01] dridri commented on #1
To be sure it is caused by CPU overhead, try to run the two threads to consume data with `getOutputData`, but don't do anything with it and see if the freeze happens again.
Also, try to enable verbose mode (last argument of Camera and VIdeoEncode components)

[2017-06-07 09:19] cedricve commented on #1
Ok I will, thanks. The problem is that this is so hard to reproduce as it happens at random and you can't simulate it.

[2017-06-22 12:56] cedricve commented on #1
hey @dridri, it's been a while. I'm happy to say that's I'm almost ready with the new release. Your library has been running for 2 weeks (24/7) now without any issue.

One thing I would like to know if there is a possibility for rotating (+90, +270). I've seen the mirroring but it only solves the upside down use case.

[2017-06-22 18:53] dridri commented on #1
Wow excellent ! How did you fix the random stalling problem ?

I added `Camera::setRotation(angle)` in 52e850f, have not tested it but it should work

[2017-06-22 19:17] cedricve commented on #1
@dridri since I've been using the HighPriority method, it never occurred again (interesting).
Cool, I'll try it out

[2017-06-22 19:24] dridri commented on #1
You said earlier that you don't want your users to have to use sudo; just in case you don't know this method, you can mark your executable as root with setsuid

[2017-06-22 19:26] cedricve commented on #1
Correct, well most of our users will be using KiOS (https://doc.kerberos.io/2.0/installation/KiOS). This will boot the binary in root context. Just curious if the error will persist on a Raspbian installation.  Thanks for the feedback.

[2017-06-29 18:12] cedricve opened #3 "Circular buffer recording"
Would be nice to have a circular buffer while recording, any idea of this would fit in your repo?  eg keeping 5 seconds before now in memory.

[2017-06-29 21:01] dridri commented on #3
A simple implementation would be to use an std::list, using `emplace_back()` to append new buffers, and `front()` / `pop_front()` to take/remove old ones.
I will take a look if it is possible to add this feature hidden behind `getOutputData()`

[2017-06-29 21:02] cedricve commented on #3
nice! I was thinking about it (queue principal) but was a bit worried about the performance. Thanks for your advice.

[2017-06-29 21:03] dridri commented on #3
What do you have in mind exactly when talking about circular buffer here ?

edit: about performance, STL classes are supposed to be very well optimized

[2017-06-29 21:05] cedricve commented on #3
exactly what you propose:

1. Having a data structure which keeps x seconds of video in memory. (On each loop, pop first frame and append new frame).
2. When starting a new record (video surveilance: motion detected), it will start recording but also prepend the x seconds video (in memory).

[2017-06-29 21:06] dridri commented on #3
Ah okay, so the main purpose is to be able to grab previous frames when the recording starts "too late"

[2017-06-29 21:06] cedricve commented on #3
exactly.

[2017-07-12 06:11] cedricve commented on #1
Hey @dridri, doing some last tests on large resolutions (1280x960) before releasing everything. It looks that after a while (1 day) the h264 files generated are getting corrupt. Any idea why this could happen? I never had this behaviour on lower resolutions (800x640)

Example corrupt file:
https://ufile.io/xd6rk

PS: though when I opened the MJPEG stream while this error occurred it was still work

[2017-07-12 11:55] dridri commented on #1
This reminds me a bug on video_decode, which was caused when there were too many I-Frames in the video stream, and I had to find a workaround as it was impossible to solve just by changing variables in OMX.
I would say that for the moment, the best way would be to just restart the recorder (by going to StateIdle then StateRunning) and continuing to save to the same file.
It *should* reset encoder'

[2017-07-12 11:59] dridri commented on #1
821adfa

[2017-07-12 12:43] cedricve commented on #1
@dridri thanks for you response, hmm ok that might be a hard one to solve. Well how would you implement the state change in current video recording mode? Doing it every x seconds or?

[2017-07-12 12:44] dridri commented on #1
yep, something like every 1 hour

[2017-07-12 12:51] cedricve commented on #1
ok cool I'll try, so calling following in a sleeping thread would be sufficient?

    state.record_encode->SetState(Component::StateIdle);
    state.record_encode->SetState(Component::StateExecuting);

[2017-07-12 12:55] dridri commented on #1
I hope this is enough yes, otherwise you will have to destroy a re-construct the VideoEncode object..
Or just stay on low resolution :D ... just kidding, I will find time to dig into this

[2017-07-12 12:59] cedricve commented on #1
Hahaha, I hope not :D well should I first try the new memory limit before adding the hack (idle/execute mode change).

[2017-07-12 13:00] dridri commented on #1
If we are lucky enough, it will do the trick yep

[2017-07-12 13:03] cedricve commented on #1
I hate being lucky it's so unpredicatable :p I'll keep you posted about how it rolls.. If you find something don't hesitate to send me an update. Thanks for all your nice work @dridri

[2017-07-12 14:40] cedricve commented on #1
Btw: just got it once more on 800x640 resolution. I was able to simulate after a huge amount of recordings. Must be a memory leak or overflow (like you've mentioned). Strange that this didn't happened earlier, probably because not many recordings were taken.

[2017-07-12 14:49] cedricve commented on #1
What I'll do is try your workaround, and just reset it each time a recording starts. Will this cause too much overhead?

https://github.com/kerberos-io/machinery/blob/develop/src/kerberos/capture/RaspiCamera.cpp#L257-L274

[2017-07-14 07:41] cedricve commented on #1
ok, looks stable.. now.

[2017-07-16 17:16] dridri commented on #1
Sorry I'm a bit busy these days, is the restart solution enough ?

[2017-07-16 17:21] cedricve commented on #1
no problem, yeah it's stable and already released ;) http://mailchi.mp/0af62b4ac41c/kerberosio-240-release?e=998eeab6c0.

Thanks for all your time and efforts!

[2017-08-01 07:20] cedricve commented on #1
@dridri hope you're doing fine! Yesterday it was running for 9 days (24/7), and the lock happened once more. Restarted it, and will let you know if it will happen again (but I'm pretty sure it will). I'll also try with the lower resolution once, so I can see how long it can run (in my previous comment I confirmed 2weeks).

Running on:
- 1280x960
- High Priority mode
- Used the restart fix
- Raspbe

[2017-08-03 21:45] dridri commented on #1
I increased verbosity in 9bec890 around functions that are locked by mutexes, it will show us if it is caused by my implementation or by the underlying system.

Hope it will not affect too much your users, btw did this happened on other raspberry models ?

[2017-08-04 06:08] cedricve commented on #1
thanks @dridri I'll check this out and keep it running. For the moment I tested it on a Pi 0, Pi 1 and Pi2. I've only had the issue on the Pi1, but that was also the only one who was generating alot of videos. I'll setup a benchmark, so it continuously record (probably the error may occur quicker then).

[2017-08-04 12:38] cedricve commented on #1
ok it's running, keep you posted @dridri.

[2017-08-06 05:41] cedricve opened #4 "How to properly destruct"
Hello @dridri,

I wast just wondering what the proper way is to destruct the created components in this example.
https://github.com/dridri/OpenMaxIL-cpp/blob/master/samples/camera_threaded.cpp

Is this enough?

	state.running = false;

	// -------------------------
	// Cancel the record thread.

	pthread_join(state.record_thid, NULL);

	// -------------------------
	// Cancel the preview thread.

[2017-08-06 20:11] dridri commented on #4
Indeed, this is the exact way to destroy the components, but I never seen a stall after restarting..
Try to call DestroyTunnel on all tunnels between setting states to Idle and destroying the components

[2017-08-07 06:10] cedricve commented on #4
ok thanks, also I noticed the `bcm_host_init();`call. I was looking for the `bcm_host_deinit();`method but apparently that one isn't available. At the moment I'm calling this function at every restart, and that might be an issue as well.

https://github.com/kerberos-io/machinery/blob/develop/src/kerberos/capture/RaspiCamera.cpp#L186-L187

[2017-08-09 06:11] cedricve commented on #1
@dridri It looks that after x amount of recordings the encode is blocking. I can confirm this also happens on other machines. Any ideas?

    VideoEncode::getOutputData() : Waiting...
    VideoEncode::FillBufferDone() locking...
    VideoEncode::FillBufferDone() unlocked
    VideoEncode::getOutputData() unlocked
    VideoEncode::getOutputData() : mHandle->FillThisBuffer()
    VideoEncode::getOutpu

[2017-08-09 13:35] cedricve commented on #1
Hmm noticed something interesting, I was reviewing the output of the HTOP command and it looks like the high priority thread (RT) was no longer running (=the preview thread) after the lock.

What happens if something goes wrong in this thread https://github.com/dridri/OpenMaxIL-cpp/blob/master/samples/camera_threaded.cpp#L98-L111 ? It won't cancel the main thread right? Probably this is what happe

[2017-08-09 14:02] dridri commented on #1
hmm I far as I know, the GPU command queue is single threaded, so if a lock appears on a component, everything is locked.
So if the record_thread goes wrong or is stopped, the camera will stall after a few frames, because one of its buffers (the one tunneled to the h264 encoder) waits to be consumed.

That's really weird, the only condition to stop this thread is to set state->running to false

I

[2017-08-09 14:06] cedricve commented on #1
Well I'm not sure if your code is locking, is there any chance this command can make the pthread stop?

    int32_t datalen = state.record_encode->getOutputData( data );

[2017-08-10 09:04] cedricve commented on #4
Sorry for spamming this repo @dridri. I did further investigation with the different states, and after a couple of (2) restarts it gets completely locked, and crashes. When this error occurs I need to restart Raspberry Pi to resolve it. After the first restart everything keeps working as expected.

    10/08/2017 08:14:25.841 INFO  [trivial] Starting capture device: RaspiCamera
    CopyPort( OMX.b

[2017-08-10 10:45] dridri commented on #4
hmm `state.camera->SetCapturing(false)` should be just after joining the threads.
Except that, I don't see anything that causes this issue, I'm using myself the same code to stop video on my drone, and oftenly stop and restart the program without any problem

[2017-08-10 11:30] cedricve commented on #4
Thanks. hmm, tried that before. I'll try to simulate with your examples.

[2017-08-10 11:37] dridri commented on #4
I suppose that you already have updated to latest firmware and userland for your rpi ?

[2017-08-10 11:38] cedricve commented on #4
yeah indeed, how recent is yours?

[2017-08-10 11:39] dridri commented on #4
Quite old actually, it has two months.
Does the same appears on rpi2/rpi3 ?

[2017-08-10 11:42] cedricve commented on #4
Yes, tested on different devices so far RPi1, RPi0 and RPi2. Isn't there a way to simply call the component onexit() method?

[2017-08-10 11:48] cedricve commented on #4
I think the issue I'm having is caused dueto not clearing the buffers.

	// Finally, free remaining buffers
	for ( OMX_U8* buf : mAllAllocatedBuffers ) {
		vcos_free( buf );
		printf( "Freed static buffer %p\n", buf );
	}
	mAllAllocatedBuffers.clear();

[2017-08-10 11:56] dridri commented on #4
Here you go 61327ea

[2017-08-10 14:05] cedricve commented on #4
Works as expected. Main issue was caused due to 128MB of GPU mem. Increased it to 196MB and now working as expected.

[2017-08-10 14:05] #4 closed

[2017-08-10 14:07] cedricve commented on #1
Maybe this issue is also related to the GPU memory. I'll try with an increase of 196MB instead of 128MB. How is your drone setup configured?

[2017-08-10 14:14] dridri commented on #1
I'm on a 512/512 setup on an rpi3

[2017-08-14 11:00] dridri commented on #1
@cedricve  Better results with more VRAM ?

[2017-08-14 11:26] cedricve commented on #1
So far it looks ok, running for 5 days (24/7) now. Will keep you posted. The restart problem is definitely resolved.

[2017-08-17 06:09] cedricve commented on #3
hey @dridri, I have ended up creating a LIFO queue class of preferable size (e.g. 30). In the record thread I add images to the queue, and remove the last one. When a recording starts I empty and write out the queue before the actual recording.

As this involves a lot of memcpy's this is a heavy operation, so I was wondering if you see a better way to resolve this?

[2017-08-17 11:47] dridri commented on #3
Sadly I don't see any other solution...

[2017-08-18 08:43] cedricve commented on #3
Ok no problem, thanks for your advice. I'll close this ticket, and reopen if I might find a more performant solution.

[2017-08-18 08:43] #3 closed

[2017-08-18 08:43] cedricve commented on #1
Looks stable, I'll close the issue for now.

[2017-08-18 08:43] #1 closed

[2017-08-18 09:08] cedricve commented on #1
BTW: Thanks for all your hard work and time @dridri. So much appreciated.

[2017-09-11 11:26] cedricve commented on #1
UPDATE: Running for 14days 24/7, still working. I can confirm the current release is stable. Thanks @dridri.

[2017-09-13 15:42] cedricve opened #5 "Memory leak when destructing"
Hey @dridri,

I've been profiling your library with this library https://github.com/MilhouseVH/bcmstat.
And it looks that when I destruct and construct the components I got a gpu leak. Any ideas?

Thanks @dridri

![screen shot 2017-09-13 at 17 20 25](https://user-images.githubusercontent.com/1546779/30386770-f7e48da0-98aa-11e7-9a53-02cd895539d6.png)

[2017-09-14 19:32] cedricve commented on #5
Hmm another interesting issue occured, I think it's new (but maybe related to previous issue #1 ). For some reason after a lot of recordings the executable crashed and tried to restart, but its stuck. Although it looks that it's not a GPU memory issue. I have to reboot the Pi to make it work again.

Memory consumption at the moment of locking.

![screen shot 2017-09-14 at 21 25 08](https://user-im

[2017-09-17 10:28] dridri commented on #5
I will take a look at the leak on destruction.
For the second problem I don't see what can cause this since the encoder is constantly running even when not recording, so there is no change in the state of the VideoEncode component (or did you changed that?) thus no memory alloc/dealloc.
We cannot recover since it's a GPU lock, and I never found a way to reset the GPU driver when locked

[2017-09-17 11:50] cedricve commented on #5
Thanks for looking into.

For the second point, I did some stress tests and it looks when the system is under pressure (100% a couple of minutes) the lock occurs. I know we have been talking about it and added the high priority thread, but apparently this is still not enough. Not sure if this is something we can do about at all.

Cédric

[2017-09-30 08:15] cedricve commented on #5
Fixed the second point by making sure the CPU doesn't run at 100% a long time. (sleeps here and there)

[2017-09-30 09:43] dridri commented on #5
hrmpf, that's a tricky fix
Do you use a sleep/usleep function or pthread_yield ?

Still nothing for the memory leak, I'm starting to think that it's a firmware bug..

[2017-09-30 09:59] cedricve commented on #5
Well not in the preview thread, I'm  running FFMPEG in the background to convert h264 inside a MP4 container. This thread is checking a directory of .h264 files and converts them one by one. However if there are a lot of h264 files in this directory, FFMPEG will consume 100% CPU for a long time. This is where I've added a sleep function, so that it doesn't continuously converts.

https://github.co

[2017-11-28 17:11] natxopedreira opened #6 "crash OMX Error 80001000"
Hello

Im using your library (thanks!) in a 12H per day situation to capture video using an auvidea card, seems to work ok but im getting ocasional crash in the app, i have a snapshot of the terminal and maybe you can give me some clues of whats happening??

The error im getting is OMX Error 80001000

https://imgur.com/a/a9qp3

Thanks!

[2017-11-30 14:34] dridri commented on #6
0x80001000 means "OMX_ErrorInsufficientResources", you could try to increase gpu_mem in your /boot/config.txt

[2017-11-30 14:51] natxopedreira commented on #6
Thanks!!!

I have 512 to my GPU

I think found the issue....

I get that error, if the hdmi cable to the capture card lost contact while capturing or if the cable its not present on startup.

So as a workaround i set in component.cpp SetState wait=false so if the cable moves the app continue and i get black from the capture card. Which i prefer.

I will have some problem with the library setting t

[2017-11-30 15:33] dridri commented on #6
ah, happy to know that you found the origin of your issue.
I added the wait parameter to SetState exactly for this kind of situation, so you can set it to false without any problems.

[2017-11-30 16:03] natxopedreira commented on #6
Good to know !

I will post back here if "not stable" or another problem, thanks for your help

[2017-11-30 16:03] #6 closed

[2018-02-07 19:42] cedricve opened #7 "A list of working resolutions"
Hey @dridri,

Do you have a listed of all working resolutions, we discovered that 1920x1080 isn't working.

Thanks

[2018-02-10 18:06] dridri commented on #7
Hmm 1080p should work, recent commit probably broke it, will check it out asap

[2018-02-11 09:32] dridri commented on #7
Just tried with a clean clone, simply changing resolution in camera_live example is enough to get 1080p working. Maybe you set FPS too high or something..
btw virtually any resolution should work, as the camera driver chooses the closest native resolution and resizes it to the desired one

[2018-07-23 21:52] chrberger opened #8 "License for this software?"
I found your nice work and would like to integrate it in an open source project for video processing on RPi. Unfortunately, I could not find any license information in your repository. What is the applicable license for your work?

[2018-07-26 18:45] dridri commented on #8
Hello,
There's actually no real license, it's free to use, do whatever you want with it :) . But since it's based on OpenMAX, I think we should comply to their license. (I'll have to add this in my Readme).

Btw, as I didn't write any documentation so far, would you want a small example on how to extract image buffers to pass them to OpenCV/anything else ?

[2018-07-26 20:18] chrberger commented on #8
Hi,
thanks for the feedback. I think explanatory examples are always helpful. Next, we will test the integrated software on our RPi boards in the lab; in case of questions or PRs, I might come back :-)

[2018-07-27 13:17] dridri commented on #8
Here you go https://github.com/dridri/OpenMaxIL-cpp/blob/master/samples/camera_process.cpp
I don't have any rPi left right now to test it, but as I simply made it from existing code it should work as is

[2018-07-27 14:03] chrberger commented on #8
Excellent, thank you very much. My use case is to grab the i420-formatted frame from the camera, store that in a certain memory area and afterwards, pass it on to the OMX-h264 encoder. This is how my logic would look like:

[code]
Does the use of the OMX ports look right to you?

[2018-07-27 14:32] dridri commented on #8
Since you use the encoder ports manually without tunneling, you have to allocate their buffers (before going to Idle state) by using
[code]

You also have to disable proprietary tunnels on port 200 of the encoder to allow you to pass entire frames (as OpenMAX works using 16 pixels height slices by default).
By the way I think I should rename (and probably move) the last parameter of fillInput memb

[2018-07-27 15:02] chrberger commented on #8
Great, thanks for your feedback; we will try that on our boards.

[2020-05-04 16:20] #8 closed

[2020-11-07 19:25] fuzun opened #10 "OMX_UseBuffer error 0x80001018 ! (state : 1)"
I have been trying to use camera_process.cpp but I get OMX_UseBuffer error 0x80001018 error after executing AllocateOutputBuffer:

        // Allocate buffer that will be processed manually
        camera->AllocateOutputBuffer( 71 );

Verbose output:

[code]

[2020-11-08 11:20] dridri commented on #10
Hello, it looks like I've made a mistake in this sample, AllocateOutputBuffer should be called after putting Camera in IdleState.
This should be fixed in https://github.com/dridri/OpenMaxIL-cpp/commit/af954b0
Sorry about that

[2020-11-08 18:37] fuzun commented on #10
@dridri It worked! I will tell if anything else goes wrong. I'm closing it now.

[2020-11-08 18:37] #10 closed

[2020-11-13 07:54] cedricve opened #11 "Golang wrapper"
Hello @dridri,

We are using you library for a couple of years now in our www.kerberos.io project, and we are moving our architecture from c++ to Golang. Would there be anything on your mind to create a wrapper for Golang?

[2020-11-14 18:10] dridri commented on #11
Hello, unfortunately I've never used Go lang and won't be very helpful to create a wrapper apart by using the few techniques that can be found on the web.
But I stay open to any questions or remarks that could help you doing it.

By the way, it looks like that the Raspberry Pi Foundation is slowly moving to the new libcamera stack, but don't know if any golang interfaces are ready..

[2020-11-14 18:14] cedricve commented on #11
Hey there,

Well it would be extremely interesting as Go is getting huge traction. In the space of your current library, there is none doing what you have implemented. All Go libraries are using the raspistill / raspivideo command line interaction. So there is a huge opportunity for you and this library here ;).

https://github.com/draffensperger/go-interlang <https://github.com/draffensperger/go-

[2020-11-14 18:26] dridri commented on #11
It seems like that the SWIG wrapper would be the best approach between performance cost and development time.
But since I've never used Go, I don't know how to handle things like frame-buffers physical pointers.

Here is their initial blog post about libcamera : https://www.raspberrypi.org/blog/an-open-source-camera-stack-for-raspberry-pi-using-libcamera/
There is also a topic on their forum : htt

[2020-11-20 21:42] cedricve commented on #11
hey @dridri, I switched to Golang last year, but have to look into it. My level of C++ is not like yours. In my mind we would only have a hig-hlevel Golang API, which connects to your already build functions.

- Open
- Read
- Close

Most people do it like this: https://github.com/dhowden/raspicam. But that is not what we want.

We've been using your library (here: https://github.com/kerberos-io/ma